.orders {
    overflow-x: auto;
}

.custom-table {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.custom-table th, td {
    white-space: nowrap;
    min-width: 100px;
    box-sizing: border-box;
}

.custom-table th {
    padding: 8px;
    background: #f0b71d;
    color: #ffffff;
}

.custom-table td {
    padding: 8px;
    text-align: center;
}

.custom-table tr {
    background-color: #3b3b3b;
}

.custom-table tr:hover {
    background-color: #545454;
    cursor: pointer;
}

.input-field {
    padding: 20px;
    display: flex;
    align-items: center;
}

.text-input-group {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.select-status {
    font-size: 16px;
    padding: 4px;
    border-radius: 15px;
    border: 2px solid #ccc;
    outline: none;
}

.select-status:focus {
    border-color: #f0b71d;
}

.date-picker {
    margin-left: 20px;
    font-size: 16px;
    padding: 4px;
    border-radius: 15px;
    border: 2px solid #ccc;
    outline: none;
}

.date-picker:focus {
    border-color: #f0b71d;
}

.search {
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #f0b71d;
    color: #fff;
    transition: transform .3s ease;
    padding: 6px 15px;
    font-size: 16px;
}

.search:hover {
    transform: scale(1.1);
    background-color: #d69d20;
}

.compl-order {
    padding: 8px 16px;
    font-size: 16px;
    background: #0dd51a;
    border-radius: 8px;
    color: white;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
}

.reject-order {
    padding: 8px 16px;
    font-size: 16px;
    background: #d60b0b;
    border-radius: 8px;
    color: white;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.compl-order:hover {
    transform: scale(1.1);
    background-color: #0db118;
}

.reject-order:hover {
    transform: scale(1.1);
    background-color: rgb(181, 16, 16)
}