.order-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 10%;
    font-size: 16px;
}

.order-details {
    width: 100%;
    background: #72089c;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
}

span {
    margin-bottom: 20px;
}

.to-orders {
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
    position: absolute; 
    right: 20px;
    bottom: 15px;
}

.to-orders:hover {
    color: dodgerblue;
}

.table {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.table th, td {
    white-space: nowrap;
    min-width: 100px;
    box-sizing: border-box;
}

.table th {
    padding: 8px;
    background: #f0b71d;
    color: #ffffff;
}

.table td {
    padding: 8px;
    text-align: center;
}

.table tr {
    background-color: #3b3b3b;
}

.form-order {
    padding: 8px 16px;
    font-size: 16px;
    background: #0dd51a;
    border-radius: 8px;
    color: white;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
}

.delete-order {
    padding: 8px 16px;
    font-size: 16px;
    background: #d60b0b;
    border-radius: 8px;
    color: white;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.form-order:hover {
    transform: scale(1.1);
    background-color: #0db118;
}

.delete-order:hover {
    transform: scale(1.1);
    background-color: rgb(181, 16, 16)
}

.delete-filter-from-order {
    padding: 8px 16px;
    font-size: 16px;
    background: #d60b0b;
    border-radius: 8px;
    color: white;
    transition: all .3s ease;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.delete-filter-from-order:hover {
    transform: scale(1.1);
    background-color: rgb(181, 16, 16)
}

.power {
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    padding: 4px;
    border-radius: 15px;
}

.power:focus {
    border-color: #f0b71d;
}