.mynavbar {
    background-color: #3b3b3b; 
    padding: 15px;
  }
  
  .navbar-nav {
    display: flex;
  }
  
  .me-auto {
    display: flex;
    align-items: center;
  }

  .me-auto h4 {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .link {
    color: #dee2e6;
    font-weight: bold; 
    margin: 0 10px; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .link:hover {
    color: #f0b71d;
  }

  .exit {
    font-family: Verdana;
    background: #3b3b3b;
    font-size: 16px;
    border: none;
    color: #dee2e6;
    font-weight: bold; 
    transition: all .4s ease;
    cursor: pointer;
  }

  .exit:hover {
    color: #f0b71d;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column; 
      align-items: center; 
    }
  
    .nav-link {
      margin: 10px 0; /* Увеличение отступов между ссылками на мобильных устройствах */
    }
  }